<section id="team">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
            <div class="team-contant">
              <span class="flaticon-win"></span>
              <h1>Best Platform</h1>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
            </div>
          </div>
        </div>
    
        <!-- cards-->
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
            <div class="team-contant">
              <span class="flaticon-target-audience"></span>
              <h1>Real Audience</h1>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
            </div>
          </div>
        </div>
        
        <!-- cards-->
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
            <div class="team-contant">
              <span class="flaticon-support"></span>
              <h1>Best Support</h1>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
            </div>
          </div>
        </div>
        
        <!-- cards-->
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
            <div class="team-contant">
              <span class="flaticon-prize"></span>
              <h1>Prize Delivery</h1>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>