body{
    
}

.login-box{
    padding: 10px;
    padding-top: 8rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
}
.card{
    float:none;
}
.user-img{
    position: relative;
    left: 33%;
    margin-top: -70px;
    width: 100px;
    height: 80px;

}

.user-img img{
    border: 3px solid #ffff;
    border-radius: 50%;
    background-color: #3b854e;
    padding-bottom: 2rem;
}

.card-body{
    margin-top: 2rem;
}

form ::placeholder{
    font-size: 12px;
    color: #808080;
}
.btn{
    margin-left: 10px;
    background-color: #ffff;
    color: #e88010;
    margin-right: 15px;
    border: 1px solid #ffff;
    padding: 5px 15px 5px 15px;
    margin-bottom: 2rem;
}
.btn:hover{
    background-color: #e88010;
    color: #ffffff !important;
    transition: 0.4;
    border: 1px solid #e88010;
}
.btn i{
    padding-right: 7px;
}