<div class="login-box text-center">
    <div class="card" style="width: 18rem;">
      <div class="user-img">
          <img src="assets/boy.png" class="card-img-top" alt="...">
      </div>
        
        <div class="card-body">
          <h4 class="card-title">Sign-up For Love & Support !</h4>
          <div class="col-12">
            <form class="form-group">
              <input type="text" class="form-control" placeholder="Enter Name" required>
            </form>
           <form class="form-group">
              <input type="text" class="form-control" placeholder="Enter Mobile Number" required>
            </form>
            <form class="form-group">
                <input type="text" class="form-control" placeholder="Enter Email ID" required>
            </form>
          </div>
          <form>
            <div class="form-group btn">
              <input type="file" class="form-control-file" id="exampleFormControlFile1" required>
            </div>
          </form>
          <a fouterlink="/" class="btn btn-primary">Submit</a>

          
        </div>
      </div>
</div>