<div class="login-box text-center">
    <div class="card" style="width: 18rem;">
      <div class="user-img">
          <img src="assets/boy.png" class="card-img-top" alt="...">
      </div>
        
        <div class="card-body">
          <h4 class="card-title">Login For Love & Support !</h4>
          <div class="col-12">
            <form class="form-group">
              <input type="text" class="form-control" placeholder="Enter Email or Moible Number" required>
            </form>
           <!-- <form class="form-group">
              <input type="text" class="form-control" placeholder="Enter Name" required>
            </form> -->
          </div>
          <a routerLink="/" class="btn btn-primary"><i class="fa fa-sign-in"></i>Login</a>

          <h6 class="card-title">Don't Have Account?</h6>
          <a routerLink="/register" class="btn btn-primary"><i class="fa fa-sign-in"></i>Sign Up Now</a>
          
        </div>
      </div>
</div>