
  <section class="card-box">
    <div class="container">
      <div class="top-hdr">
        <h2>Top three participants of contest</h2>
      </div>
        <!--Image Card Start Here -->
      <div class="row">
        <!--#1 Start Here -->
        <div class="col-sm-4"> 
            <div class="card">
                <img src="assets/babe-1.jpg" alt="..." width="100%">
                  <div class="txt-box">
                    <h4><span>#1</span> Alisha</h4>
                      <p>It is a long established fact</p>
                        <div class="row">
                          <div class="col-sm-6">
                            <h6>Total Vote<br> <span>56454</span></h6>
                            <a href="#" class="btn btn-full">Vote Me</a>
                          </div>
      
                          <div class="col-sm-6">
                              <h6>Total Share<br> <span>54545</span></h6>
                              <a href="#" class="btn btn-full">Share Me</a>
                          </div>   
                    </div>
                  </div>
                  <!--Social handle Start Here -->
                  <div class="socal">
                    <h5>Follow me on social site</h5>
                    <i class="fa fa-facebook-square"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-twitter-square"></i>
                    <i class="fa fa-youtube-square"></i>
                  </div>
              </div>    
        </div> 
        <!--#2 Start Here -->
        <div class="col-sm-4"> 
            <div class="card">
                <img src="assets/babe-2.jpg" alt="..." width="100%">
                  <div class="txt-box">
                    <h4><span>#2</span> Anaisha</h4>
                      <p>It is a long established fact</p>
                        <div class="row">
                          <div class="col-sm-6">
                            <h6>Total Vote<br> <span>56422</span></h6>
                            <a href="#" class="btn btn-full">Vote Me</a>
                          </div>
      
                          <div class="col-sm-6">
                              <h6>Total Share<br> <span>54522</span></h6>
                              <a href="#" class="btn btn-full">Share Me</a>
                          </div>   
                    </div>
                  </div>
                  <!--Social handle Start Here -->
                  <div class="socal">
                    <h5>Follow me on social site</h5>
                    <i class="fa fa-facebook-square"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-twitter-square"></i>
                    <i class="fa fa-youtube-square"></i>
                  </div>
              </div>    
        </div> 
        <!--#3 Start Here -->
        <div class="col-sm-4"> 
            <div class="card">
                <img src="assets/babe-3.jpg" alt="..." width="100%">
                  <div class="txt-box">
                    <h4><span>#3</span> Ananya</h4>
                      <p>It is a long established fact</p>
                        <div class="row">
                          <div class="col-sm-6">
                            <h6>Total Vote<br> <span>56411</span></h6>
                            <a href="#" class="btn btn-full">Vote Me</a>
                          </div>
      
                          <div class="col-sm-6">
                              <h6>Total Share<br> <span>54511 </span></h6>
                              <a href="#" class="btn btn-full">Share Me</a>
                          </div>   
                    </div>
                  </div>
                  <!--Social handle Start Here -->
                  <div class="socal">
                    <h5>Follow me on social site</h5>
                    <i class="fa fa-facebook-square"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-twitter-square"></i>
                    <i class="fa fa-youtube-square"></i>
                  </div>
              </div>    
        </div> 
      </div>

    </div> 
  </section>

  <section class="card-box2">
      <div class="container-fluid">
        <div class="top-hdr">
          <h2>participants lsit of contest</h2>
        </div>
          <!--Image Card Start Here -->
        <div class="row">
          <!--#4 Start Here -->
          <div class="col-sm-3"> 
              <div class="card2">
                  <img src="assets/babe-1.jpg" alt="..." width="100%">
                    <div class="txt-box">
                      <h4><span>#4</span> Alisha</h4>
                        <p>It is a long established fact</p>
                          <div class="row">
                            <div class="col-sm-6">
                              <h6>Total Vote<br> <span>56454</span></h6>
                              <a href="#" class="btn btn-full">Vote Me</a>
                            </div>
        
                            <div class="col-sm-6">
                                <h6>Total Share<br> <span>54545</span></h6>
                                <a href="#" class="btn btn-full">Share Me</a>
                            </div>   
                      </div>
                    </div>
                    <!--Social handle Start Here -->
                    <div class="socal">
                      <h5>Follow me on social site</h5>
                      <i class="fa fa-facebook-square"></i>
                      <i class="fa fa-instagram"></i>
                      <i class="fa fa-twitter-square"></i>
                      <i class="fa fa-youtube-square"></i>
                    </div>
                </div>    
          </div> 

          <!--#5 Start Here -->
           <div class="col-sm-3"> 
              <div class="card2">
                <img src="assets/babe-1.jpg" alt="..." width="100%">
                  <div class="txt-box">
                    <h4><span>#5</span> Alisha</h4>
                      <p>It is a long established fact</p>
                        <div class="row">
                          <div class="col-sm-6">
                            <h6>Total Vote<br> <span>56454</span></h6>
                              <a href="#" class="btn btn-full">Vote Me</a>
                                </div>
                  
                                  <div class="col-sm-6">
                                    <h6>Total Share<br> <span>54545</span></h6>
                                      <a href="#" class="btn btn-full">Share Me</a>
                                  </div>   
                                </div>
                              </div>
                              <!--Social handle Start Here -->
                              <div class="socal">
                                <h5>Follow me on social site</h5>
                                <i class="fa fa-facebook-square"></i>
                                <i class="fa fa-instagram"></i>
                                <i class="fa fa-twitter-square"></i>
                                <i class="fa fa-youtube-square"></i>
                              </div>
                </div>    
              </div> 


          <!--#6 Start Here -->
          <div class="col-sm-3"> 
              <div class="card2">
                  <img src="assets/babe-1.jpg" alt="..." width="100%">
                    <div class="txt-box">
                      <h4><span>#6</span> Alisha</h4>
                        <p>It is a long established fact</p>
                          <div class="row">
                            <div class="col-sm-6">
                              <h6>Total Vote<br> <span>56454</span></h6>
                              <a href="#" class="btn btn-full">Vote Me</a>
                            </div>
        
                            <div class="col-sm-6">
                                <h6>Total Share<br> <span>54545</span></h6>
                                <a href="#" class="btn btn-full">Share Me</a>
                            </div>   
                      </div>
                    </div>
                    <!--Social handle Start Here -->
                    <div class="socal">
                      <h5>Follow me on social site</h5>
                      <i class="fa fa-facebook-square"></i>
                      <i class="fa fa-instagram"></i>
                      <i class="fa fa-twitter-square"></i>
                      <i class="fa fa-youtube-square"></i>
                    </div>
                </div>    
          </div>
          
        <!--#7 Start Here -->
        <div class="col-sm-3"> 
          <div class="card2">
            <img src="assets/babe-1.jpg" alt="..." width="100%">
                <div class="txt-box">
                  <h4><span>#</span> Alisha</h4>
                    <p>It is a long established fact</p>
                      <div class="row">
                        <div class="col-sm-6">
                          <h6>Total Vote<br> <span>56454</span></h6>
                            <a href="#" class="btn btn-full">Vote Me</a>
                          </div>
                  
                          <div class="col-sm-6">
                            <h6>Total Share<br> <span>54545</span></h6>
                            <a href="#" class="btn btn-full">Share Me</a>
                          </div>   
                        </div>
                      </div>
          <!--Social handle Start Here -->
                      <div class="socal">
                        <h5>Follow me on social site</h5>
                        <i class="fa fa-facebook-square"></i>
                        <i class="fa fa-instagram"></i>
                        <i class="fa fa-twitter-square"></i>
                        <i class="fa fa-youtube-square"></i>
                        </div>
                </div>    
              </div> 
        </div>
      </div>
      <div class="float-right view-btn">
          <a href="#" class="btn btn-full">View All Participants</a>
      </div> 
  </section>
