<div class="login-box text-center">
    <div class="card" style="width: 60%;">
      <div class="user-img">
          <img src="assets/babe-1.jpg" class="card-img-top" alt="..." width="100%">
      </div>
        
        <div class="card-body">
                <div class="txt-box">
                        <h4><span>#1</span> Alisha</h4>
                          <p>It is a long established fact</p>
                            <div class="row">
                              <div class="col-sm-6">
                                <h6>Total Vote<br> <span>56454</span></h6>
                                <a href="#" class="btn btn-full">Vote Me</a>
                              </div>
          
                              <div class="col-sm-6">
                                  <h6>Total Share<br> <span>54545</span></h6>
                                  <a href="#" class="btn btn-full">Share Me</a>
                              </div>   
                        </div>
                      </div>
          
        </div>
      </div>
</div>